.todosListWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-start;
}

.todosHeading {
    font-size: 30px;
    color: white;
}

.todos {
    display: flex;
    width: 47.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(50, 195, 205);
}

.remove {
    background-color: rgb(235, 103, 80);
}

@media (max-width: 700px) {
    .todosListWrapper {
        width: 95%;
    }

    .container {
        flex-direction: column;
    }

    .todos {
        margin: 1% auto;
    }
}